#-------------------------------------------------------------------------------------------------------------------------
#variable input
#-------------------------------------------------------------------------------------------------------------------------
pacman_public_path="/workspace/terraform-beginner-bootcamp-2023/public/pacman"
cinnamon_public_path="/workspace/terraform-beginner-bootcamp-2023/public/cinnamon"
content_version=2
terratowns_endpoint = "https://terratowns.cloud/api"